/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}

        html {
          overflow-y: scroll;
        }

        body { 
          font-family: 'Open Sans', system-ui, sans-serif; 
        }

        table { 
          border-collapse: collapse; 
          width: 100%; 
          margin-bottom: 1rem; 
          font-size: 0.95rem; 
        }

        th, td { 
          border: 1px solid #ccc; 
          padding: 8px; 
          text-align: left; 
          vertical-align: top; 
        }

        th { 
          background-color: #f2f2f2; 
          font-weight: bold; 
        }

        tr:nth-child(even) { 
          background-color: #fafafa; 
        }

        .table-wrapper { 
          overflow-x: auto; 
          -webkit-overflow-scrolling: touch; 
        }
        
        blockquote { 
          border-left: 4px solid #828282; padding-left: 12px; font-style: italic; 
        }
        
        details { 
          margin-bottom: 1rem; 
        }
        
        summary { 
          cursor: pointer; font-weight: bold; 
        }
      
/* layer: shortcuts */
.container{width:100%;}
@media (min-width: 640px){
.container{max-width:640px;}
}
@media (min-width: 768px){
.container{max-width:768px;}
}
@media (min-width: 1024px){
.container{max-width:1024px;}
}
@media (min-width: 1280px){
.container{max-width:1280px;}
}
@media (min-width: 1536px){
.container{max-width:1536px;}
}
/* layer: default */
.visible{visibility:visible;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.static{position:static;}
.left-0{left:0;}
.top-0{top:0;}
.z-50{z-index:50;}
.grid{display:grid;}
.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr));}
.m-0{margin:0;}
.mx-auto{margin-left:auto;margin-right:auto;}
.my{margin-top:1rem;margin-bottom:1rem;}
.mb-1{margin-bottom:0.25rem;}
.mb-10{margin-bottom:2.5rem;}
.mb-16{margin-bottom:4rem;}
.mb-2{margin-bottom:0.5rem;}
.mb-4{margin-bottom:1rem;}
.mb-6{margin-bottom:1.5rem;}
.me{margin-inline-end:1rem;}
.mr-2{margin-right:0.5rem;}
.mt-12{margin-top:3rem;}
.mt-6{margin-top:1.5rem;}
.mt-8{margin-top:2rem;}
.block,
[block=""]{display:block;}
.inline-block{display:inline-block;}
.hidden{display:none;}
.h-0\.5{height:0.125rem;}
.max-w-4xl{max-width:56rem;}
.max-w-6xl{max-width:72rem;}
.w-6{width:1.5rem;}
.w-full{width:100%;}
.flex{display:flex;}
.flex-grow,
.grow{flex-grow:1;}
.flex-col{flex-direction:column;}
.table{display:table;}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}
.resize{resize:both;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.gap-1{gap:0.25rem;}
.gap-2{gap:0.5rem;}
.gap-4{gap:1rem;}
.gap-6{gap:1.5rem;}
.overflow-auto{overflow:auto;}
.overflow-hidden{overflow:hidden;}
.border{border-width:1px;}
.border-4{border-width:4px;}
.border-\[\#C15255\]{--un-border-opacity:1;border-color:rgb(193 82 85 / var(--un-border-opacity));}
.border-gray-500{--un-border-opacity:1;border-color:rgb(107 114 128 / var(--un-border-opacity));}
.rounded{border-radius:0.25rem;}
.rounded-xl{border-radius:0.75rem;}
.bg-\[\#171717\]{--un-bg-opacity:1;background-color:rgb(23 23 23 / var(--un-bg-opacity)) /* #171717 */;}
.bg-\[\#212121\]{--un-bg-opacity:1;background-color:rgb(33 33 33 / var(--un-bg-opacity)) /* #212121 */;}
.bg-\[\#2B2B2B\]{--un-bg-opacity:1;background-color:rgb(43 43 43 / var(--un-bg-opacity)) /* #2B2B2B */;}
.bg-\[\#C15255\]{--un-bg-opacity:1;background-color:rgb(193 82 85 / var(--un-bg-opacity)) /* #C15255 */;}
.bg-\[\#FFD700\]{--un-bg-opacity:1;background-color:rgb(255 215 0 / var(--un-bg-opacity)) /* #FFD700 */;}
.bg-gray-100{--un-bg-opacity:1;background-color:rgb(243 244 246 / var(--un-bg-opacity)) /* #f3f4f6 */;}
.hover\:bg-\[\#a94446\]:hover{--un-bg-opacity:1;background-color:rgb(169 68 70 / var(--un-bg-opacity)) /* #a94446 */;}
.from-\[\#E0E0E0\]{--un-gradient-from-position:0%;--un-gradient-from:rgb(224 224 224 / var(--un-from-opacity, 1)) var(--un-gradient-from-position);--un-gradient-to-position:100%;--un-gradient-to:rgb(224 224 224 / 0) var(--un-gradient-to-position);--un-gradient-stops:var(--un-gradient-from), var(--un-gradient-to);}
.to-\[\#BDBDBD\]{--un-gradient-to-position:100%;--un-gradient-to:rgb(189 189 189 / var(--un-to-opacity, 1)) var(--un-gradient-to-position);}
.bg-gradient-to-b{--un-gradient-shape:to bottom in oklch;--un-gradient:var(--un-gradient-shape), var(--un-gradient-stops);background-image:linear-gradient(var(--un-gradient));}
.p-2{padding:0.5rem;}
.p-4{padding:1rem;}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.px-6{padding-left:1.5rem;padding-right:1.5rem;}
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.py-3{padding-top:0.75rem;padding-bottom:0.75rem;}
.py-4{padding-top:1rem;padding-bottom:1rem;}
.py-6{padding-top:1.5rem;padding-bottom:1.5rem;}
.pt-20{padding-top:5rem;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
.text-base{font-size:1rem;line-height:1.5rem;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.text-xl{font-size:1.25rem;line-height:1.75rem;}
.text-\[\#C15255\]{--un-text-opacity:1;color:rgb(193 82 85 / var(--un-text-opacity)) /* #C15255 */;}
.text-\[\#F0E68C\]{--un-text-opacity:1;color:rgb(240 230 140 / var(--un-text-opacity)) /* #F0E68C */;}
.text-\[\#FFD700\]{--un-text-opacity:1;color:rgb(255 215 0 / var(--un-text-opacity)) /* #FFD700 */;}
.text-black{--un-text-opacity:1;color:rgb(0 0 0 / var(--un-text-opacity)) /* #000 */;}
.text-blue-600{--un-text-opacity:1;color:rgb(37 99 235 / var(--un-text-opacity)) /* #2563eb */;}
.text-gray-500{--un-text-opacity:1;color:rgb(107 114 128 / var(--un-text-opacity)) /* #6b7280 */;}
.text-gray-600{--un-text-opacity:1;color:rgb(75 85 99 / var(--un-text-opacity)) /* #4b5563 */;}
.text-gray-700{--un-text-opacity:1;color:rgb(55 65 81 / var(--un-text-opacity)) /* #374151 */;}
.text-gray-800{--un-text-opacity:1;color:rgb(31 41 55 / var(--un-text-opacity)) /* #1f2937 */;}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;}
.hover\:text-\[\#C15255\]:hover{--un-text-opacity:1;color:rgb(193 82 85 / var(--un-text-opacity)) /* #C15255 */;}
.hover\:text-\[\#FF8C00\]:hover{--un-text-opacity:1;color:rgb(255 140 0 / var(--un-text-opacity)) /* #FF8C00 */;}
.hover\:text-purple-900:hover{--un-text-opacity:1;color:rgb(88 28 135 / var(--un-text-opacity)) /* #581c87 */;}
.font-bold{font-weight:700;}
.font-semibold{font-weight:600;}
.leading-relaxed{line-height:1.625;}
.tracking-tight{letter-spacing:-0.025em;}
.hover\:underline:hover{text-decoration-line:underline;}
.no-underline{text-decoration:none;}
.shadow{--un-shadow:var(--un-shadow-inset) 0 1px 3px 0 var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-lg{--un-shadow:var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.shadow-md{--un-shadow:var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1)),var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgb(0 0 0 / 0.1));box-shadow:var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);}
.outline{outline-style:solid;}
.transition{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.ease{transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
@media (min-width: 640px){
.sm\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
}
@media (min-width: 768px){
.md\:flex-row{flex-direction:row;}
.md\:items-end{align-items:flex-end;}
.md\:items-center{align-items:center;}
.md\:justify-between{justify-content:space-between;}
}
@media (min-width: 1024px){
.lg\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.lg\:hidden{display:none;}
.lg\:flex{display:flex;}
}